<%= form_with(model: mark, local: true) do |form| %>
  <% if mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
        <% mark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :m1 %>
    <%= form.number_field :m1 %>
  </div>

  <div class="field">
    <%= form.label :m2 %>
    <%= form.number_field :m2 %>
  </div>

  <div class="field">
    <%= form.label :m3 %>
    <%= form.number_field :m3 %>
  </div>

  <div class="field">
    <%= form.label :m4 %>
    <%= form.number_field :m4 %>
  </div>

  <div class="field">
    <%= form.label :m5 %>
    <%= form.number_field :m5 %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
