<p id="notice"><%= notice %></p>
<p>
  <strong>Student:</strong>
  <%= @mark.student.name %>
</p>
<p>
  <strong>M1:</strong>
  <%= @mark.m1 %>
</p>

<p>
  <strong>M2:</strong>
  <%= @mark.m2 %>
</p>

<p>
  <strong>M3:</strong>
  <%= @mark.m3 %>
</p>

<p>
  <strong>M4:</strong>
  <%= @mark.m4 %>
</p>

<p>
  <strong>M5:</strong>
  <%= @mark.m5 %>
</p>


<p>
  <strong>Total Mark:</strong>
  <%= @mark.m1+@mark.m2+@mark.m3+@mark.m4+@mark.m5 %>
</p>
<button type="button" class="btn btn-outline-warning"><%= link_to 'Edit', edit_mark_path(@mark) %> </button>
<button type="button" class="btn btn-outline-dark"><%= link_to 'Back', marks_path %></button>


