<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Mob</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.address %></td>
        <td><%= student.mob %></td>
        <td><%= student.email %></td>
        <td><button type="button" class="btn btn-info"><%= link_to 'Show', student %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_student_path(student) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-success"><%= link_to 'New Student', new_student_path %></button>


